<!-- Page content -->
<div id="page-content" class="block" ng-controller="myPlaylistController" >
    <!-- Blank Header -->
    <div class="block-header">
        <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
        <a href="" class="header-title-link">
            <h1>
                <i class="fa fa-th-list animation-expandUp"></i>My Playlist <br><small>Play your songs in your playlists.</small>
            </h1>
        </a>
    </div>
    
    <!-- END Blank Header -->
    
    <!-- Block -->
    <div class="block">
        <!-- Block Title -->
        <div class="block-title"><h2>My Playlist</h2> 
            <div class="block-options pull-right"><a class="btn btn-primary" ng-click="addPlaylist()" ><i class="fa fa-plus"></i> Add</a></div></div>
        <!-- END Block Title -->
        <!-- Block Content -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Search</th>
                </thead>
                <tbody>
                    <tr ng-repeat="playlist in myPlaylists" ng-class="{warning : currentPlaylist.id == playlist.id}" >
                        <td ng-click="changeSelectPlaylist( playlist.id )">{{playlist.name}}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <div class="btn btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></div>
                                <div class="btn btn-default" data-toggle="tooltip" title="Add Songs"><i class="fa fa-times"></i></div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs"> 
                                <div class="btn btn-default" data-toggle="tooltip" title="Add Songs" ng-click="openSearchModal( playlist.id )"><i class="glyphicon-search"></i></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td></td><td></td><td></td></tr>
                </tfoot>
            </table>
        </div>
        <!-- END Block Content -->
    </div>
    <div class="block full">
        <!-- Block Title -->
        <div class="block-title" >
            <h2><i class="glyphicon-playlist"></i> {{currentPlaylist.name}} </h2>
        </div>
        <!-- END Block Title -->

        <!-- PLAYER -->
        <!-- CONTROL BUTTONS -->
        <div>
            <button class="btn btn-success" ng-click="playPrev()"><div class="fa fa-fast-backward" ></div></button>
            <button class="btn btn-info" ng-show="!playing" ng-click="play()"><div class="fa fa-play" ></div></button>
            <button class="btn btn-warning" ng-show="playing" ng-click="pause()" ><div class="fa fa-pause"  ></div></button>
            <button class="btn btn-success" ng-click="playNext()"><div class="fa fa-fast-forward" ></div></button>
            <button class="btn btn-danger" ng-click="stop()"><div class="fa fa-stop" ></div></button>
            <div class="btn-group btn-group-sm pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" data-placement="left" title="{{currentPlaylist.playingMethod}}">
                    <button class="btn btn-sm btn-default" ng-show="currentPlaylist.playingMethod == 'arrow-right'"><div class="halfling-arrow-right" ></div></button>
                    <button class="btn btn-sm btn-default" ng-show="currentPlaylist.playingMethod == 'retweet'"><div class="halfling-retweet" ></div></button>
                    <button class="btn btn-sm btn-default" ng-show="currentPlaylist.playingMethod == 'random'" ><div class="halfling-random" ></div></button>
                    <button class="btn btn-sm btn-default" ng-show="currentPlaylist.playingMethod == 'repeat'"><div class="halfling-repeat" ></div></button>
                </a>
                <ul class="dropdown-menu">
                <li class="btn btn-sm btn-default" ng-click="updatePlayMethod('arrow-right')"><div class="halfling-arrow-right" ></div></li> 
                <li class="btn btn-sm btn-default" ng-click="updatePlayMethod('retweet')"><div class="halfling-retweet" ></div></li> 
                <li class="btn btn-sm btn-default" ng-click="updatePlayMethod('random')"><div class="halfling-random" ></div></li> 
                <li class="btn btn-sm btn-default" ng-click="updatePlayMethod('repeat')"><div class="halfling-repeat" ></div></li>
                </ul>
            </div>
        </div>

        <!-- SLIDER -->
        <div> 
            <slider floor="0" ceiling="{{duration}}" step="1" precision="2" ng-model="progress" translate="currencyFormatting"></slider>
        </div>
        <!-- PLAYING INFO -->
        <div class="text-left">
            <div class="label label-default" ng-show="buffered > 0 && buffered < 100" >Loaded: {{buffered}}%</div>
            <div class="label label-warning" >Time : <strong >{{curentPlayingMinutes()}}</strong> <div class="fa fa-long-arrow-right" ng-show="duration > 0" ></div> <strong>{{durationMinutes}}</strong></div> 
            <div class="label label-info" >Playing : <strong class="animation-pulse">{{currentSong.title}}</strong></div> 
        </div>
        <p></p>

        <!-- PLAYLIST -->
        <div class="list-group table-responsive">
            <a class="list-group-item" ng-repeat="Song in currentPlaylist.songs" ng-class="isActive($index)">
                <span class="pull-right" ng-show="!Song.showDetails" ng-click="viewSongDetails(Song)" ><div class="halfling-chevron-down"></div></span>
                <span class="pull-right" ng-show="Song.showDetails" ng-click="viewSongDetails(Song)" ><div class="halfling-chevron-up"></div></span>
                <h4 class="list-group-item-heading" ng-click="viewSongDetails(Song)" ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">{{Song.title}}</h4><div class="btn btn-xs btn-danger" ng-show="showActions" ng-click="removeASongFromPlaylist($index)" >Delete</div>
                <p class="list-group-item-text" ng-show="Song.showDetails" >Artist : {{Song.artist}}</p>
                <p class="list-group-item-text" ng-show="Song.showDetails" >Album : {{Song.album}} <div ng-click="playThisSong($index)" class="pull-right glyphicon-play_button"></div></p> 
            </a>
        </div>

        <!-- END Block Content -->
    </div>
    <!-- END Block -->
    
    
    <!-- Search Songs -->
    <div id="searchSongModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="glyphicon-search"></i> Search Songs To Playlist</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="songName">Song : </label>
                            <div class="col-md-5">
                                <input type="text" id="songName" name="songName" ng-change="searchSong()" ng-model="searchParam.songName" class="form-control" placeholder="Song's name">
                                <!--<span class="help-block">This is a help text</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="albumName">Album : </label>
                            <div class="col-md-5">
                                <input type="text" id="albumName" name="albumName" ng-change="searchSong()" ng-model="searchParam.albumName" class="form-control" placeholder="Album's name">
                                <!--<span class="help-block">This is a help text</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="artistName">Artist : </label>
                            <div class="col-md-5">
                                <input type="text" id="artistName" name="artistName" ng-change="searchSong()" ng-model="searchParam.artistName" class="form-control" placeholder="Artist's name">
                                <!--<span class="help-block">This is a help text</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" >
                        <table class="table">
                        <tbody>
                            <tr ng-repeat="Song in searchedSongs">
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a data-toggle="tooltip" title="Add to playlist" class="btn btn-default" ng-click="addSongsToPlaylist( Song )"><i class="glyphicon-disk_save"></i></a>
                                    </div>
                                </td>                      
                                <td><a popover-placement="top" popover="{{Song.album}}" popover-trigger="click" popover-title="{{Song.artist}}" >{{Song.name}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary" ng-click="searchSong()">Search</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->
<!-- LOADING MODAL -->
<div id="loading_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-sm">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">LOADING.....</h4>
           </div>
           <div class="modal-body text-center">
               <div class="fa fa-gear fa-spin fa-4x"></div>
           </div>
       </div>
   </div>
</div>
<div id="preAddPlayListModel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Playlist</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Name : </label>
                        <div class="col-md-5">
                            <input type="text" id="example-text-input" name="playListName" ng-model="newPlaylist.name" class="form-control" placeholder="Playlist's name">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addPlaylist()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- END LOADING MODAL -->